.myFonts{
    font-family: 'Pangolin', cursive;
}

.intro{
    margin-top: 100px;
}

.card img{
    border: 1px solid #808080;
}

.card{
    background-color: #ffffff;
}

.highlight{
    color:#0dcaf0!important;
    font-weight: bold;
}


.card img{
    border: 1px solid #808080;
}

.card{
    background-color: #bddaff;
}

#feedback{
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf816;
}

.myMargin{
    margin-top: 100px;
}

/* ============================== NavBar ============================== */
.myNavList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myNav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color: #f5f5f5;
    border-bottom: 2px solid gray;
}

.myBrand{
    text-decoration: none;
    color: #0dcaf0;
}


.myNavItem{
    list-style: none;
    padding-right: 20px;
}

.myNavLink{
    text-decoration: none;
    color: black;
} 
 

@media only screen and (max-width: 600px) {
    .myNav{
        flex-direction: column;
        justify-content: center;
    }

  }