
*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 18px;
    font-family: 'Baloo 2', cursive;
    line-height: 1.5;
    background-color:  #0a101f;
}

/* ========================== Global ========================== */

.container{
    width: 80vw;
    overflow: hidden;
    margin: auto;
}

.highlight{
    color: #ff9900;
    font-weight: bold;
}


/* ======= Header and footer =======  */

/*  Header  */

header{
    position: fixed;
    height: 100px;
    width: 80%;
    padding: 0px 10%;
    background-color: #202945;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #ff9900;
    animation: displayNav 1s ;
}


#brand{
    font-size: 30px;
}


header nav ul{
    list-style: none;
    display: flex;
    font-size: 22px;
}

header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 0px 10px; 
}

/*  Footer  */

footer{
    background-color: #202945;
    color: #ffffff;
    height: 100px;
    padding: 0px 10%;
    display: flex;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: #ffffff;
}

footer a:hover{
    font-weight: bolder;
}

footer img{
    width: 20px;
}

/* ======= Header and Footer End =======  */

/* ========================== Global End ========================== */



/* ========================== Home ========================== */

/* ======= Introduction ======= */
#intro{
    /* background-image: url(images/introBackground.jpg); */
    height: 400px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #00000070;
    animation: topToDown 1.5s ease-out ;
}

#intro h1{
    margin-top: 200px!important;
    font-size: 40px;
}

#intro h1, #intro p{
    margin: auto;
    animation-name: show;
    animation-duration: 3s;
}



/* ======= Artworks ======= */

.artWork{
    width: 47%;
    height: auto;
    margin: 1.3%;
    border-radius: 50px;
    animation-name: fade;
    animation-duration: 4s;
}


/* ========================== Home End ========================== */





/* ========================== About ========================== */

#about{
    display: flex;
    padding-top: 100px;
    color: #ffffff;
    height: 800px;
}

section #myImage img{
    width: 100%;
    height: auto;
    float: left;
}

#about #myInfo{
    width: 100%;
    float: right;
}

#myInfo p a{
    text-decoration: none;
    color: #c5fbff;
}

/* ========================== About End ========================== */




/* ========================== Responsive ========================== */

@media only screen and (max-width: 600px){
    header{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #intro{
        height: 600px;
    }

    .artWork{
        width: 100%;
        float: none;
    }

    #about{
        flex-direction: column;
    }
}

/* ========================== Responsive End ========================== */


/* ============================ Animations ============================ */

    @keyframes fade{
        0%{
            opacity: 0%;
        }

        100%{
            opacity: 100%;
        }
    }

    @keyframes show{
        0%{
            width: 0%;
            opacity: 0%;
        }
        50%{
            width: 50%;
            opacity: 0%;
        }
        100%{
            width: 100%;
            opacity: 100%;
        }
    }

    @keyframes topToDown{
        from{
            height: 0px;
        }
        to{
            height: 400px;
        }
    }

    @keyframes displayNav{
        from{
            width: 0%;
            margin-left: 50%;
        }
        to{
            width: 80%;
            margin-left: 0%;
        }
    }

/* ========================== Animations End ========================== */





