/* ================= Global ================= */

body{
    background-color: #0f0f0f;
    color: #ffffff;
}

.myFonts1{
    font-family: 'Crimson Text', serif;
}

.myFonts2{
    font-family: 'Baloo 2', cursive;
}

.myMargin{
    margin-top: 100px;
}


/* ================================== HOME ================================== */

/* ============================== NavBar ============================== */

#dropdownMenuButton{
    background-color: #0f0f0f;
    border: 0px solid #0f0f0f;
}


.myNavList{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myNav{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav{
    background-color: #0f0f0f;
    /* border-bottom: 2px solid rgb(3, 247, 255); */
}

#logo{
    text-decoration: none;
    color: #0dcaf0;
}


.myNavItem{
    list-style: none;
    padding-right: 20px;
}

.myNavLink{
    text-decoration: none;
    color: rgb(255, 255, 255);
} 
 

/* ============================ Intro Carousel ============================ */

.intro{
    margin-top: 100px;
}

/* =============================== Card Drawings =============================== */

.card img{
    border: 1px solid #808080;
}

.card{
    background-color: #081420;
    color: white;
}

/* ======================= Feedback and Customize Portrait ======================= */

#feedback{
    display: flex;
    height: 500px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fcf816;
    margin-top: 10px;
}

/* ================================= Footer ================================= */
footer div{
    background-color: #0f0f0f;
}


/* ======================================================= HOME END ======================================================= */



/* ========================================================== ABOUT ========================================================== */


.myAbout{
    margin-top: 150px;
    display: flex;
}

#profilePic{
    margin: 10px;
}

#myInfo{
    margin: 10px;
    text-align: justify;
}

#myInfo div{
    margin-bottom: 20px;
    background-color: #081420;
    padding: 10px;
}

#education p{
    margin: 2px;
}

#hobbies div{
    display: flex;
    flex-flow: row wrap;
}

#hobbies span{
    border: 1px solid white;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}


/* ======================================================== ABOUT END ======================================================== */


/* ======================================================== CONTACT ======================================================== */


#instaLink {
    padding: 150px 0px;
    text-align: center;
    background-color: #081420;
    margin: 100px 0px;
}



/* ======================================================== CONTACT END ======================================================== */

/* ==================== Responsive ==================== */

@media only screen and (max-width: 600px) {
    .myNav{
        flex-direction: column;
        justify-content: center;
    }

    .myAbout{
        flex-direction: column;
    }

  }